@media only screen and (max-width: 949px) {

    /*----------VERSION TABLETTE-------------------------------------------------------------*/
    /*------------------------------------------HEADER--------------------------------------*/
    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }

        100% {
            transform: translateX(25%);
        }
    }

    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-20deg, red 50%, #000 50%);
        bottom: 0;
        left: -100%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }

    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .bg3 {
        animation-duration: 5s;
    }

    #header {
        background-color: #34c4bcec;
        height: 175px
    }

    #NameJob {
        min-width: 35.9%;
        padding: 6px;
        max-width: 52%;
        position: ABSOLUTE;
        left: 42%;
        TOP: 9.2%;
        background-color: #1e847fdc;
        border-radius: 4px;
        FONT-SIZE: 45PX;
        box-shadow: 21px -16px teal;
        color: white;
    }

    #NameJob h4 {
        font-size: 1.8rem;
    }

    #header img {
        height: 150px;
        left: 5.4%;
        POSITION: relative;
    }

    /*------------------------------------------BODY--------------------------------------*/
    body {
        background-color: #e0e0e0;

    }

    h4 {
        font-size: 1.2rem !important;
    }

    #leftPanel {
        border: 1px solid black;
        max-width: 45%;
        min-height: 1550px;
        height: 1035px;
        padding-right: 5px;
        padding-left: 5px;
        background-color: black;
        box-shadow: 21px -16px rgb(0 0 0 / 43%);
    }

    #rightPanel {

        width: 55%;
        height: 1550px;
        padding-right: 9px;
        padding-left: 9px;
        background-color: lightyellow;
        box-shadow: 21px -16px rgb(255 255 224 / 60%);

    }

    #rightPanel img {
        max-width: 20px;
        max-height: 20px;
        position: relative;
        top: 3px;
    }

    #Contact {
        max-width: 400px;
    }

    #Competence {
        max-width: 400px;
    }

    #content {
        min-height: 1590px;
        margin-right: 0px;
        margin-left: 0px;
        font-size: smaller;

    }

    #linkPortfolio {
        position: relative;
        TOP: 235px;
        RIGHT: 18px;
    }

    #imgPortfolio {
        width: 16px;
        LEFT: 1%;
        position: relative;
        top: 5PX;
    }

    .borderbot {
        border-bottom: 1px solid brown;
    }

    .tap-target-content .white-text {
        width: 456px;
        height: 400px;
        inset: 0px;
        padding: 56px;
        vertical-align: bottom;
    }

    /*------------------------------------------FOOTER--------------------------------------*/
    #footer {
        background-color: black;
        height: 50px;
        bottom: 0px;
        position: relative;
    }

    /*------------------------------------------ADDONS--------------------------------------*/

    .image {
        width: 30px;
        height: 30px;
    }

    .inline {
        display: inline-block;
    }

    .left {
        float: left !important;
    }


    .ovhd {
        overflow: hidden !important;
    }

    .txtgreen {
        color: #76923C;
    }

    .txtwhite {
        color: white;
    }

    .plus4pxt {
        position: relative;
        top: 4px !important;
    }
}

@media only screen and (min-width: 950px) {
    /*----------VERSION PC-------------------------------------------------------------*/

    /*------------------------------------------HEADER--------------------------------------*/
    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }

        100% {
            transform: translateX(25%);
        }
    }

    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-20deg, red 50%, #000 50%);
        bottom: 0;
        left: -100%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }

    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .bg3 {
        animation-duration: 5s;
    }

    #header {

        background-color: #34c4bcec;
        height: 175px
    }

    #NameJob {
        min-width: 33.9%;
        padding: 7px;
        max-width: 35%;
        position: ABSOLUTE;
        left: 35%;
        TOP: 8.4%;
        background-color: #1e847fdc;
        border-radius: 4px;
        box-shadow: 19px -9px teal;
        color: white;
    }

    #header img {
        height: 150px;
        left: 20.4%;
        POSITION: relative;
    }

    /*------------------------------------------BODY--------------------------------------*/
    body {
        background-color: #e0e0e0;
    }

    H4 {
        font-size: 1.5rem !important;
    }

    #leftPanel {
        border: 1px solid black;
        max-width: 400px;
        min-height: 1343px;
        height: 1035px;
        padding-right: 5px;
        padding-left: 15px;
        background-color: black;
        border-radius: 5px;
        box-shadow: 21px -16px rgba(0, 0, 0, 0.433);
    }

    #rightPanel {

        width: 55%;
        height: 1343px;
        padding-right: 9px;
        padding-left: 9px;
        background-color: lightyellow;
        box-shadow: 21px -16px rgba(255, 255, 224, 0.6);
    }

    #rightPanel img {
        max-width: 20px;
        max-height: 20px;
        position: relative;
        top: 3px;
    }

    #Contact {
        max-width: 400px;
    }

    #Competence {
        max-width: 400px;
    }

    #content {
        min-height: 1350px;
        margin-right: 10px;
        margin-left: 80px;
    }


    #linkPortfolio {
        position: relative;
        TOP: 55px;
        RIGHT: 18px;
    }

    #imgPortfolio {
        width: 30px;
        LEFT: 1%;
        position: relative;
        top: 5PX;
    }

    progress {
        -webkit-appearance: none;
    }

    ::-webkit-progress-value {
        background-color: orange;
    }


    .borderbot {
        border-bottom: 1px solid brown;
    }

    #imgMinPortfolio {
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        HEIGHT: 170PX;
    }

    .tap-target-wave::before,
    .tap-target-wave::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #ffffff;
    }

    .tap-target-content .white-text {
        width: 456px;
        inset: 0px;
        padding: 56px;
        position: relative;
        vertical-align: bottom;
        TOP: 21PX;
        font-size: large;
    }

    .tap-target-wrapper {
        right: -331px;
        bottom: -327px;
        position: fixed;
    }

    .tap-target-wave {
        top: 344px;
        left: 344px;
        width: 112px;
        height: 112px;
    }

    /*------------------------------------------FOOTER--------------------------------------*/
    #footer {
        background-color: black;
        height: 50px;
        bottom: 0px;
        position: relative;
    }

    /*------------------------------------------ADDONS--------------------------------------*/
    .w30 {
        width: 30% !important;
    }

    .image {
        width: 30px;
        height: 30px;
    }

    .inline {
        display: inline-block;
    }

    .left {
        float: left !important;
    }


    .ovhd {
        overflow: hidden !important;
    }

    .txtgreen {
        color: #76923C;
    }

    .txtwhite {
        color: white;
    }

    .plus4pxt {
        position: relative;
        top: 4px !important;
    }

    .plus50pxt {

        top: 50px !important;
    }

    .w96 {
        width: 96% !important;
    }

    .txtcenter {
        text-align: center !important;
    }

}