@media only screen and (max-width: 949px) {/*----------VERSION TABLETTE-------------------------------------------------------------*/


}

@media only screen and (min-width: 950px) {/*----------VERSION PC-------------------------------------------------------------*/

    /*------------------------------------------HEADER--------------------------------------*/
    #header{
        
        background-color: #34c4bcec;
        height: 175px
    }

    #NameJob{
        min-width: 33.9%;
        padding: 7px;
        max-width: 35%;
        position: ABSOLUTE;
        left: 40%;
        TOP: 4%;
        background-color: #1e847fdc;
        border-radius: 4px;
        box-shadow: 21px -16px teal;
    }

    #header img{
        height: 150px;
        left: 10%;
        POSITION: relative;
    }
    /*------------------------------------------BODY--------------------------------------*/
    body{
        background-color: #e0e0e0;
    }
    #leftPanel{
        border: 1px solid black;
        max-width: 400px;
        min-height: 963px;
        height: 1035px;
        padding-right: 5px;
        padding-left: 5px;
        background-color: black;
        border-radius: 5px;
        box-shadow: 21px -16px rgba(0, 0, 0, 0.433);
    } 
    #rightPanel{
        
        width: 55%;
        height: 1035px;
        padding-right: 5px;
        padding-left: 5px;
        background-color: lightyellow;
        box-shadow: 21px -16px rgba(255, 255, 224, 0.6);
    }
    
    #rightPanel img{
        max-width: 20px;
        max-height: 20px;
    }

    #Contact{
        max-width: 400px;
    }

    #Competence{
        max-width: 400px;
    }

    #content{
        min-height: 1050px;
        background-color: #e0e0e0;
        margin-right: 10px;
        margin-left: 80px;
    }


    #linkPortfolio{
        position: relative;
        TOP: 254px;
        RIGHT: 18px;
    }
    /*------------------------------------------FOOTER--------------------------------------*/
    #footer{
        background-color: black;
        height: 50px;
        bottom: 0px;
        position: relative;
    }

    /*------------------------------------------ADDONS--------------------------------------*/
    
    .image{
        width: 30px;
        height: 30px;
    }

    .inline{
        display: inline-block;
    }

    .left{
        float: left!important;
    }


    .ovhd{
        overflow: hidden!important;
    }
    .txtgreen{
        color : #76923C;
    }

    .txtwhite {
        color: white;
    }
 
}